






<table class="highlight bordered">

  <tbody>
  {% for event in events %}

    {% if event.is_active %}
    <tr>
      <td>{{ event.title }}</td>
      <td>{{ "Кино в Минске" if event.location is none else "Вильнюс" if event.location|lower == "vilnius" else "Варшава" if event.location|lower == "warshaw" else event.location }}</td>


     <td>
  <a href="{{ event.url }}"
     class="waves-effect waves-light btn-small blue"
     target="_blank"
     rel="noopener noreferrer">
      <i class="material-icons left">cloud</i>
    Купить билет
  </a>
</td>

      <td>
        <button hx-get="/profile/event/deactivate_related_query/{{ event.id }}"
        hx-target="#query-list"
        hx-swap="innerHTML"
        class="waves-effect waves-light btn-small green darken-3">
  Больше не искать
</button>
      </td>

       <td>
        <button hx-get="/profile/event/deactivate_event/{{ event.id }}"
        hx-target="#event-list"
        hx-swap="innerHTML"
        class="waves-effect waves-light btn-small grey">
  Скрыть и искать дальше
</button>
      </td>
      {% endif %}


    {% endfor %}