<div id="query-form">
  <form
    hx-post="/profile/query/add"
    hx-target="#query-list"
    hx-swap="innerHTML"
    hx-on="htmx:afterRequest: this.reset(); this.style.display='none'"
  >
    <div class="input-field">
      <input type="text" name="query_text" placeholder={{ t.query_placeholder }} required>
    </div>

    <div class="input-field">
      <select name="query_type" required>
        <option value="" disabled selected>{{ t.choose_type }}</option>
        <option value="concert">{{ t.concert }}</option>
        <option value="film">{{ t.film }}</option>
      </select>
      <label>{{ t.event_type }}</label>
    </div>

    <button type="submit" class="btn waves-effect waves-light">{{ t.add }}</button>
  </form>
</div>
