









<table class="highlight bordered">

  <tbody>
  {% for query in queries %}

    {% if query.is_active %}
    <tr>
      <td>{{ query.query_text }}</td>
<td>{{ "Фильм" if query.query_type|lower == "film" else "Концерт" if query.query_type|lower == "concert" else query.query_type }}</td>
      <td>
        <button hx-post="/profile/query/deactivate/{{ query.id }}"
                hx-target="#query-list" hx-swap="innerHTML" class="waves-effect waves-light btn-small red">Не искать</button>

      </td>
      {% endif %}






{% endfor %}
  </tbody>
</table>

