{% extends "base.html" %}

{% block title %}Мой профиль — Event Pulse{% endblock %}
{% block content %}
    <div class="container">
        <h1>Добро пожаловать, {{ user.name }}!</h1>

        <div class="profile-info">
            <p><strong>Имя пользователя:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <div class="actions">
            <a href="/profile_edit" class="btn btn-primary">Изменить мои данные</a>
        </div>
    </div>

<div class="float-start" style="width:50%">
  <h3>Мои запросы</h3>

  <div id="query-list" hx-get="/profile/query/list" hx-trigger="load" hx-swap="innerHTML"></div>

  <button hx-get="/profile/query/form" hx-target="#query-form" hx-swap="innerHTML">Добавить запрос</button>
  <div id="query-form"></div>
</div>



<div class="float-end" style="width:50%">
  <h3>Мои события</h3>

  <div id="event-list" hx-get="/profile/events/list" hx-trigger="load" hx-swap="innerHTML"></div>


</div>

{% endblock %}
