{% extends "base.html" %}

{% block title %}Мой профиль — Event Pulse{% endblock %}
{% block content %}

    {% if error %}
        <div style="color: red; font-weight: bold;">
            {{ error }}
        </div>
    {% endif %}
    {% if message %}
      <div style="color: blue; font-weight: bold;"></div>
            {{ message }}
    {% endif %}
<a href="/profile" class="btn btn-primary">К вашей странице</a>


<form method="post" action="/profile_edit">
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username" value="{{ user.name }}" required><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="{{ user.email }}" required><br><br>

    <label for="email">Email для получения событий. Если отличается от основного:</label>
  <input type="email" name="second_email" value="{{ user.second_email }}" required><br><br>



  <label for="new_password">Новый пароль:</label>
  <input type="password" id="new_password" name="new_password"><br><br>

  <label for="new_password_confirmed">Подтверждение пароля:
  <input type="password" id="new_password_confirmed" name="new_password_confirmed"></label><br><br>

       <label>Язык</label>
        <div class="input-field">
        <select name="preffered_lang">
        <option value="{{ user.preffered_lang }}"></option>
        <option value="RU" selected>RU</option>
        <option value="EN">EN</option>
         </select>
        </div>


  <button type="submit">Сохранить</button>
</form>

{% endblock %}