{% extends "base.html" %}

{% block title %}Мой профиль — Event Pulse{% endblock %}
{% block content %}
    <div class="container">
        <h1>Добро пожаловать, {{ user.name }}!</h1>

        <div class="profile-info">
            <p><strong>Имя пользователя:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            {% if user.second_email %}
            <p><strong>Email для получения событий:</strong> {{ user.second_email }}</p>
            {% endif %}
        </div>

        <div class="actions">
            <a href="/profile_edit" class="waves-effect waves-light btn blue">Изменить мои данные</a>
        </div>
    </div>

    <div class="left" style="width:26%">
      <h3>Мои запросы</h3>

      <div id="query-list" hx-get="/profile/query/list" hx-trigger="load" hx-swap="innerHTML"></div>

      <button hx-get="/profile/query/form"
              hx-target="#query-form"
              hx-swap="innerHTML"
              class="waves-effect waves-light btn green">
            <i class="material-icons left">add</i>
        Добавить запрос
      </button>
      <div id="query-form"></div>
    </div>

    <div class="right" style="width:70%">
      <h3>Мои события</h3>

      <div id="event-list" hx-get="/profile/events/list" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>
{% endblock %}
