
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main {
      flex: 1 0 auto; /* растягивает контент и прижимает футер вниз */
    }
    .container {
      width: 90% !important;
      max-width: 100% !important;
      padding-left: 1rem;
      padding-right: 1rem;
    }